@model TaskReminder.Web.Models.ChangePasswordViewModel

@{
    ViewBag.Section = "Změna hesla";
}

@using (Html.BeginForm())
{
    <div class="editor-folder">

        <div class="editor-item w300">
            <div class="editor-label">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
        </div>
        <div class="clear"></div>

        <div class="editor-item w300">
            <div class="editor-label">
                @Html.LabelFor(m => m.NewPasswordAgain)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.NewPasswordAgain)
                @Html.ValidationMessageFor(m => m.NewPasswordAgain)
            </div>
        </div>
        <div class="clear"></div>

    </div>

    <div class="buttons">
        <input type="submit" name="change" value="Změnit" />
    </div>
}